@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ShabnamLight';
    src: url('./assets/fonts/Shabnam-Light.eot');
    src: url('./assets/fonts/Shabnam-Light.eot') format('embedded-opentype'),
    url('./assets/fonts/Shabnam-Light.woff') format('woff'),
    url('./assets/fonts/Shabnam-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'ShabnamBold';
    src: url('./assets/fonts/Shabnam-Bold.eot');
    src: url('./assets/fonts/Shabnam-Bold.eot') format('embedded-opentype'),
    url('./assets/fonts/Shabnam-Bold.woff') format('woff'),
    url('./assets/fonts/Shabnam-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'ShabnamMid';
    src: url('./assets/fonts/Shabnam-Medium.eot');
    src: url('./assets/fonts/Shabnam-Medium.eot') format('embedded-opentype'),
    url('./assets/fonts/Shabnam-Medium.woff') format('woff'),
    url('./assets/fonts/Shabnam-Medium.ttf') format('truetype');
}
body{
    direction: rtl;
    font-family: 'ShabnamLight' !important;
}
.lightShab{
    font-family: 'ShabnamLight' !important;
}
.boldShab{
    font-family: 'ShabnamBold' !important;
}
.midShab{
    font-family: 'ShabnamMid' !important;
}
.containerr{
    display: flex;
    /* margin-top: 10px; */
}
.other{
    flex: 5;
    background-color: bisque;
}
.flex-6{
    flex: 6;
}
.flex-5{
    flex: 5;
}
.flex-4{
    flex: 4;
}
.flex-3{
    flex: 3;
}
.flex-2{
    flex: 2;
}
.flex-1{
    flex: 1;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.MuiDataGrid-cell{
    display: flex;
  justify-content: start;
  align-items: center;
  font-size: 11px;
}
.MuiIconButton-root{
    rotate: 180deg;
}